body {
    font-family: 'Red Hat Display', sans-serif !important;
    background-image: url("images/pattern-background-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    body {
    background-image: url("images/pattern-background-mobile.svg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    }
}

div.card {
    border-radius: 20px;
}

img.card-img-top {
    border-radius: 20px 20px 0 0;
}

h3.card-title {
    font-weight: 600;
}

p, .first-btn, .second-btn {
    font-size: 16px !important;
}

p.card-text, .price, .second-btn {
    color: hsl(224, 23%, 55%);
}

.price-container {
    border-radius: 10px;
}

a {
    color: hsl(245, 75%, 52%) !important;
    text-decoration: underline !important;
}

.first-btn {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.first-btn:hover {
    background-color: hsla(245, 75%, 52%, 0.801);
}

.second-btn {
    background-color: rgba(255, 255, 255, 0) !important;
}

.first-btn, .second-btn {
    font-weight: 600 !important;
    border-radius: 10px !important;
}